<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenc.demo.dao.UserMapper">

    <resultMap id="userResultMap" type="com.chenc.demo.model.UserDO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
    </resultMap>

    <sql id="Columns">
        id,
        name,
        address,
        sex,
        age
    </sql>

    <select id="list" resultMap="userResultMap">
        select <include refid="Columns"/> from users
    </select>


    <select id="show" resultMap="userResultMap" parameterType="java.lang.Long">
        select <include refid="Columns"/> from users where id = #{userId}
    </select>

    <insert id="insert" parameterType="com.chenc.demo.model.UserDO">
        insert into users
        (name, address, sex, age)
        values
        (#{name}, #{address}, #{sex}, #{age})
    </insert>
</mapper>
